@model Web.Models.WebReview

@{
    ViewBag.Title = "AddReview";
}

<h2>AddReview</h2>

@using (Html.BeginForm("AddReview", "Review", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>WebRestaurants</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" value="@ViewBag.ID" name="RestModelID" />
    <!--Html.HiddenFor(model=>model.Restaurant)-->
    <div class="form-group">
        @Html.LabelFor(model => model.reviewer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.reviewer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.reviewer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.rating, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.rating, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.rating, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.reviewBody, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.reviewBody, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.reviewBody, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>

}

<div>
    @Html.ActionLink("Back to List", "AllRestaurants")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}