@model IEnumerable<Web.Models.WebRestaurants>

@{
    ViewBag.Title = "SortByRestaurants";
}

<h2>SortByRestaurants</h2>

<p>
    @Html.ActionLink("Create New", "AddRestaurant")
</p>
<p>
    @Html.ActionLink("Top 3 Restaurants", "Top3Restaurants")
</p>
@using (Html.BeginForm("SearchRestaurants", "Restaurant", FormMethod.Get))
{
    <input type="text" name="id" />
    <input type="submit" value="Search" />
}
@using (Html.BeginForm("SortByRestaurants", "Restaurant", FormMethod.Get))
{
    <select name="id">
        <option value="name">name</option>
        <option value="locality">locality</option>
        <option value="address">address</option>
        <option value="cuisines">cuisines</option>
        <option value="zipcode">zipcode</option>
    </select>
    <input type="submit" value="Sort By" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.restName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cuisines)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.restName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.restAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cuisines)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRestaurant", new { id = item.ID }) |
                @Html.ActionLink("Details", "DetailsRestaurants", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteRestaurant", new { id = item.ID })
            </td>
        </tr>
    }

</table>
